form {
  margin-top: 3rem;
}

form input[name="city"],
form input[name="country"] {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 3px solid black;
  border-radius: 0;
} 
form input:focus{
  background-color:transparent !important;
  box-shadow:none !important;
  color:white!important;
}
.container-movie {
  width: 500px;
  height: 500px;
  background-color: white;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* :: placeholder{
  color:white;

} */
